body {
    background: black;
}

.title {
    border-bottom: 1px solid white;
    box-shadow: 0 3px 3px 0 gray;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: center;
    color: white;
}

.display-container {
    border: 3px solid white;
    box-shadow: 3px 3px 3px gray;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


.rock {
    background: hotpink;
}
.rock:hover {
    background: rgb(241, 65, 153);
}
.rock:active {
    background: rgb(189, 0, 94);
}

.paper {
    background: greenyellow;
}
.paper:hover {
    background: rgb(114, 185, 7);
}
.paper:active {
    background: green;
}

.scissors {
    background: lightblue
}
.scissors:hover {
    background: rgb(77, 176, 209);
}
.scissors:active {
    background: rgb(1, 97, 129);
}

.rock, .paper, .scissors {
    cursor: pointer;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 3px 3px 3px white;
    margin-left: 3px;
    margin-right: 5px;
}